.form-group{
    width:900px;
}
.form-f{
    background-color: rgba(0,0,0,0.2);
    border-radius:4px;
    width:350px;
    margin-left:380px;
}
.btn-c{
    margin-left:18%;
}
.msg-user{
    margin-left:3%;
    font-size:12px;
}
h2{
    text-align:center;
}
.logop{
	position: absolute;
    top:330px;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.logo{
	height:auto;
	width: 600px;
}
.alilogo{
    margin:30%;
}
.logops{
	position: absolute;
    top:400px;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.logos{
	height:300px;
	width: 600px;
}
.table-l{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    text-align:center;
}
th{
    padding: 15px;
    border: 1px solid #ddd;
}
td{
    width:35px;
    padding: 15px;
    border: 1px solid #ddd;
}
.ed-link{
}
.btn2{
    background:red;
}
.teste{
    width:5px;
    text-align:justify;
}
.icons-espa{
    margin:5px;
}
.btn-new{
    background-color: #00cccc;
    color:white;
    font-weight:bold;
    border-radius:5px;
    text-align:center;
    padding:8px;
    width:160px;
}
.btn-marginr{
    margin-left:800px;
}
.btn-newvs{
    background-color: #00cccc;
    color:white;
    font-weight:bold;
    border-radius:5px;
    text-align:center;
    padding:8px;
    width:80px;
}
.img-logoci{
    float:left;
}
.img-logoi{
    width:95px;
    height:50px;
}
.historia{
   margin-top:30px;
   width:850px;
   margin-left:130px;
}
.p-m{
     text-align:center;
     font-size:17px;
}