
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<h2 style="text-align:center;">Bem vindo Usuario</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Novo Chamado", "Index", "ChamadoUser/Create", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Meus Chamados", "Index", "ChamadoUser/Index", new { area = "" }, new { @class = "navbar-brand" })
            
        </div>
        <div>
            @Html.ActionLink("Sair", "Logout", "Conta", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>
<hr/>
<div class="alilogo">
    <div class="logop">
        <img class="logo" src="~/Content/img/logounisystem.fw.png" alt="Alternate Text" />
    </div>
</div>
