
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Bem vindo Administrador</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Cadastrar Usuário", "Index", "CrudUsuarios", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Chamados", "Index", "ChamadoAdmin/Index", new { area = "" }, new { @class = "navbar-brand" })
            
        </div>
        <div>
            @Html.ActionLink("Sair", "Logout", "Conta", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>
<hr/>
<div class="alilogo">
    <div class="logop">
        <img class="logo" src="~/Content/img/logounisystem.fw.png" alt="Alternate Text" />
    </div>
</div>