<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @{
        ViewBag.Title = "BemVindo";
    }

    @if (Session["username"] != null)
    {
        <h6>Bem Vindo @Session["username"].ToString()</h6>
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Novo Chamado", "Index", "Chamado/Create", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Meus Chamados", "Index", "Chamado/Index", new { area = "" }, new { @class = "navbar-brand" })
                </ul>
            </div>
        </div>
    </div>
</body>
</html>


